body {
  background-color: $white;
  color: $dark-black;
}

h1 {
  font-family: $headers-font;
  font-weight: 800;
  margin-bottom: 0;
  line-height: 1;
}

p {
  font-family: $body-font;
}

h3 {
  color: $gray;
  font-family: $headers-font;
  font-weight: 800;
  font-size: 48px;
}

h3:hover {
  color: $dark-black;
}

@media (min-width: 576px) {
  h1 {
    font-size: 128px;
  }
  p {
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 136px;
  }
  p {
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 160px;
  }
  p {
    font-size: 20px;
  }
}

#projects {
  text-align: left;
}

#about {
  text-align: right;
}

#contact {
  text-align: center;
}
