<div class="main-container" id="home">
  <div>
    <h1>Hello.</h1>
    <p>I'm Lena, a full stack web developer based in Tokyo, Japan.</p>
    <div class="glossary">
      <div id="title-projects" class="card-glossary">
        <h3>projects →</h3>
        <%= link_to "", "#projects", class: 'glossary-link' %>
      </div>
      <div id="title-about" class="card-glossary">
        <h3>← about</h3>
        <%= link_to "", "#about", class: 'glossary-link' %>
      </div>
      <div id="title-contact" class="card-glossary">
        <h3>contact →</h3>
        <%= link_to "", "#contact", class: 'glossary-link' %>
      </div>
    </div>
  </div>
</div>