<div id="home">
  <h1>Hello.</h1>
  <p>I'm Lena, a full stack web developer based in Tokyo, Japan.</p>
  <div class="glossary">
    <div id="projects">
      <h3>projects →</h3>
    </div>
    <div id="about">
      <h3>← about</h3>
    </div>
    <div id="contact">
      <h3>contact →</h3>
    </div>
  </div>
</div>