<div class="main-container" id="projects">
  <div class="carousel">
    <% data.products.each do |product| %>
      <div class="card-project">
        <p><%= product.name %></p>
        <p><%= product.description %></p>
        <img src="<%= image_path(product.image) %>" alt="<%= product.name %>">
      </div>
    <% end %>
  </div>
</div>