.carousel {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 70vw);
  grid-template-rows: 1fr;
  grid-column-gap: 16px;
  overflow: scroll;
  height: 100vh;
  scroll-snap-type: both mandatory;
  scroll-padding: 1rem;
}

.card-active {
  scroll-snap-type: unset;
}

.card-project {
  position: relative;
  scroll-snap-align: center;
  display: inline-block;
  width: 80%;
  border: 1px solid blue;
  img {
    width: 100%;
    border: 1px solid black;
  }
}

.project-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

#title-projects {
  text-align: left;
}

#title-about {
  text-align: right;
}

#title-contact {
  text-align: center;
}

.card-glossary {
  position: relative;
}

.glossary-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}
