.card-project {
  position: relative;
}

.project-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

#title-projects {
  text-align: left;
}

#title-about {
  text-align: right;
}

#title-contact {
  text-align: center;
}

.card-glossary {
  position: relative;
}

.glossary-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}
