nav
{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 4;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.toggle
{
  position: relative;
  width: 56px;
  height: 56px;
  margin: 24px 24px;
  // background: url("../../images/profile.png");
  // background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}

.toggle.active
{
  // background: url(https://i.ibb.co/rt3HybH/close.png);
  // background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}

.showcase
{
  position: absolute;
  right: 0;
  width: 100%;
  // min-height: 100vh;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  background-color: $white;
  transition: 0.5s;
  z-index: 2;
}

.showcase.active
{
  right: 200px;
}

.menu
{
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $dark-black;
  font-family: $body-font;
}

.menu ul
{
  position: relative;
  padding-left: 0;
}

.menu ul li
{
  list-style: none;
  margin: 4px 0;
}

.menu ul li a
{
  text-decoration: none;
  font-size: 24px;
  color: $white;
}

.menu ul li a:hover
{
  font-size: 26px;
  transition: 0.5s;
}
