<div class="showcase">
  <nav>
    <div class="toggle">CLICK</div>
  </nav>
  <div class="container content">
    <%= partial 'partials/banner' %>
    <%= partial 'partials/projects' %>
    <%= partial 'partials/about' %>
  </div>
</div>
<%= partial 'partials/navbar' %>