<section class="showcase">
  <nav class="section">
    <div class="toggle">CLICK</div>
  </nav>
</section>
<%= partial 'partials/navbar' %>
<!-- <div class="container">
  <%#= partial 'partials/banner' %>
  <%#= partial 'partials/projects' %>
  <%#= partial 'partials/about' %>
</div> -->