<div class="navbar">
  <ul>
    <li class="nav-links">Home</li>
    <li class="nav-links">Projects</li>
    <li class="nav-links">About</li>
    <li class="nav-links">Contact</li>
  </ul>
</div>
<div class="container">
  <div class="intro-container">
    <h3 class="greeting">Hello.</h3>
    <p class="short-bio">I'm Lena, a full stack web developer based in Tokyo, Japan.</p>
  </div>
  <div class="cover-page">
    <h1></h1>
  </div>
</div>